<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">Profile Details</div>
            <div class="panel-body">
                <p><label>{{userDetails.name}}</label></p>
                <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>                                                                  {{userDetails.address.street}},{{userDetails.address.suite}}<br>
                    {{userDetails.address.city}},{{userDetails.address.zipcode}}</p>
                <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>{{userDetails.phone}}</p>
               <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{userDetails.email}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
            <img ng-if="showLoadingPostsandComments" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <div class="panel panel-primary" ng-repeat = "(key,eachPost) in selectedPosts track by $index">
                <div class ="panel-body">
                <div><b>{{(key+1)}}-{{eachPost.title}}</b></div>
                <div class="commonTextIndent">{{eachPost.body}}</div>
                <hr>
                <div ng-repeat="(index,eachComment) in commentsData track by $index">
                    <div ng-if="eachPost.id===eachComment.postId">
                        <div><b>{{eachComment.name}}</b></div>
                        <div class="commonTextIndent">{{eachComment.body}}</div>
                         <hr>
                    </div>
                   
                </div>
                </div>
            </div>
    </div>
</div>